<nav id="main_nav" role="navigation"> 


<div class="horizontal">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Events", events_path %></li> 
		<li><%= link_to "Discussion", discussion_path %></li> 
		<li><%= link_to "Shop", shop_path %></li>
	</ul> 
	</div>
</nav>


<!-- <nav id="main_nav" role="navigation" > 
<div class="btn-group btn-group-lg ">
  <li><%= button_to "Home", root_path, :class => "btn btn-primary", :method => :get%></li> 
  <li><%= button_to "Events", events_path, :class => "btn btn-primary", :method => :get%></li> 
  <li><%= button_to "Discussion", discussion_path, :class => "btn btn-primary", :method => :get%></li> 
  <li><%= button_to "Shop", shop_path, :class => "btn btn-primary", :method => :get%></li> 
</div>
</nav> -->
