<!-- <nav id="main_nav" role="navigation"> 


<div class="horizontal">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Events", events_path %></li> 
		<li><%= link_to "Discussion", discussion_path %></li> 
		<li><%= link_to "Shop", shop_path %></li>
	</ul> 
	</div>
</nav>
 -->


<ul class="meun">
		<li class="meun green">
			<p><%= link_to "Home", root_path %></p>
			<br>
			<p class="subtext">HOME PAGE</p>
		</li>
		<li class="meun yellow">
			<p><%= link_to "Events", events_path %></p>
			<br>
			<p class="subtext">EVENTS PAGE</p>
		</li> 
		<li class="meun purple">
			<p><%= link_to "Discussion", discussion_path %></p>
			<br>
			<p class="subtext">DISCUSSION</p>
		</li> 
		<li class="meun blue">
			<p><%= link_to "Shop", shop_path %></p>
			<br>
			<p class="subtext">SHOP</p>
		</li>
</ul class="meun"> 


